./.idea
# Next.js
/frontend/.next/
/frontend/out/
/frontend/node_modules/
/frontend/.env
/frontend/.env.*

# Strapi
/backend/node_modules/
/backend/.cache/
/backend/.tmp/
/backend/dist/
/backend/build/
/backend/.env
/backend/.env.*
!/backend/.env.example

# System Files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
/.idea
/.vscode

# Docker volumes
docker-volumes/

.env.*
/.env
/frontend/app/contact/page.tsx.bak